<section class="bg-gray-100">
    <div class="py-12 flex items-center justify-center">
        <div class="max-w-md w-full p-6 bg-white rounded-lg shadow-lg">
            <div class="flex justify-center mb-8">
                <img src="https://png.pngtree.com/png-clipart/20221013/original/pngtree-calendar-icon-logo-2023-date-time-png-image_8680937.png"
                    alt="Logo" class="w-40 h-40">
            </div>
            <h1 class="text-2xl font-semibold text-center text-gray-500 mt-8 mb-6">Mark Attendance</h1>
            <form [formGroup]="attendanceForm" (ngSubmit)="onSubmit()">
                <div class="mb-6">
                    <label for="student" class="block mb-2 text-sm text-gray-600">Student</label>
                    <select required formControlName="student" type="text" id="student" name="student"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500" required
                    >
                        <option disabled selected>Select Student</option>
                        <option  
                            *ngFor="let student of studentList"
                            [value]="student"
                        >
                            {{student.id + ": " + student.studentDetails.name + "(" + student.studentDetails.email + ")"}}
                        </option>
                        
                        <!-- [attr.selected]="inputStudent.id" -->
                    </select>
                </div>
                <div class="mb-6">
                    <label for="date" class="block mb-2 text-sm text-gray-600">Date</label>
                    <input formControlName="date" type="date" id="date" name="date"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        required>
                </div>
                <div class="mb-6">
                    <label for="status" class="block mb-2 text-sm text-gray-600">Status</label>
                    <select required formControlName="status" type="text" id="status" name="status"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                        placeholder="John Wick" required>
                        <!-- <option disabled selected>Select Student</option> -->
                        <option [value]="attendanceStatuses.PRESENT">Present</option>
                        <option [value]="attendanceStatuses.ABSENT">Absent</option>
                    </select>
                </div>
                <button type="submit"
                    class="w-32 bg-gradient-to-r from-cyan-400 to-cyan-600 text-white py-2 rounded-lg mx-auto block focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500 mt-4 mb-6">Mark Attendance</button>
            </form>
        </div>
    </div>
</section>